/* App.css */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

/* Adjust the logo size and position */
.App-logo {
  height: 120px; /* Set the height of the logo to 100px */
  position: absolute;
  top: 20px;
  right: 20px;
}

/* Adjust the button styling */
.integrate-git-button {
  background-color: #2ea44f;
  color: #ffffff;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.integrate-git-button:hover {
  background-color: #22863a;
}
