.App {
  display: grid;
  grid-template-rows: auto 1fr; /* auto for the header height, 1fr for the remaining space */
  min-height: 100vh;
  background-color: #282c34;
}

.App-body {
  display: flex;
  flex-direction: column; /* Change to column to allow more vertical space */
  align-items: center;
  justify-content: center; /* Center content vertically and horizontally */
  position: relative; /* Ensure children elements are positioned correctly */
  width: 100%; /* Ensure it takes the full width */
  height: calc(100vh - 60px);
  background-color: #282c34; /* Add a background color to make it visible in the inspector */
  overflow: auto;
  margin-top: 60px; /* Adjust this value to create space for the sidebar */
}

.hamburger-button {
  position: absolute;
  outline: none;
  top: 10px;
  right: 10px; /* Adjust this value to move the button next to the integrated button */
  background-color: #22863a; /* Black metal color */
  width: 50px; /* Adjust this value to change the size of the button */
  height: 50px; /* Adjust this value to change the size of the button */
  z-index: 2; /* Ensure it's above other content */
  border: none; /* Remove the border */
}

.graph-container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0; /* Ensure it's behind other content */
}

.simple-text {
  text-align: center;
  margin-top: 20px; /* Adjust as needed */
}


