.graph-container {
  width: 100%; /* Make the container take the full width of the parent */
  height: 100%; /* Make the container take the full height of the parent */
  position: relative;
  margin: 0; /* Ensure no margin */
  padding: 0; /* Ensure no padding */
}

.canvas-container {
  width: 100%;
  height: 100%;
  background: none;
  border: none; /* Remove borders */
}

/* Styling for vertex labels */
.vertex-label {
  font-size: 0.5rem; /* Set a base font size */
  color: #ffffff; /* White text color */
  padding: 2px; /* Minimal padding */
  border-radius: 2px; /* Rounded corners */
  
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Ensure text alignment is centered */
  
  width: 100%; /* Take full width of the box */
  height: 100%; /* Take full height of the box */
  box-sizing: border-box; /* Include padding in size calculations */
  overflow: hidden; /* Hide overflowing text */
  white-space: normal; /* Allow text to wrap to the next line */
  word-wrap: break-word; /* Break long words */
  font-weight: bold; /* Make the text bold */
}

.vertex-label.mirrored {
  transform: scaleX(-1);  /* Mirrors the text horizontally */
}

.edge-label {
  color: #ffffff; /* Change edge label color to tomato red */
  font-size: 1.3rem; /* Adjust the size of the edge labels */
  font-weight: bold; /* Make the edge label text bold */
  white-space: nowrap; /* Prevent text from wrapping */
}

