/* src/components/Header.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between; /* Space between the left and right sections */
  align-items: center;
  padding: 4px 20px; /* Reduced padding for a smaller banner */
  background-color: #26402e; /* Background color */
  width: 100%;
  z-index: 1000;
  position: fixed; /* Fixed position to stay at the top */
  top: 0; /* Align to the top */
  left: 0;
  height: 50px; /* Set a fixed height for the banner */
  border-bottom: 1px solid black;
}

.left-section {
  display: flex;
  align-items: center;
}

.logo {
  height: 45px; /* Adjust the height as needed */
  width: auto; /* Maintain aspect ratio */
  margin-right: 5px; /* Reduced margin between the logos */
}

.right-section {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.github-logo {
  height: 40px; /* Adjust the size as needed */
  width: auto; /* Maintain aspect ratio */
  margin-right: 20px; /* Ensure the GitHub logo is closer to the right border */
}

.hamburger-menu {
  display: flex;
  align-items: center;
  margin-left: 12px; /* Space between the GitHub logo and hamburger menu */
  cursor: pointer;
  height: 30px;
  color: #ffffff;
}
