.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent; /* Remove background */
}

.loading-graphic {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  background-image: url('./loadingDataGif.gif'); /* Replace with your graphic path */
  background-size: cover;
  background-repeat: no-repeat;
}

.loading-text {
  font-size: 1.5rem;
  color: #cbedcd;
  text-decoration: none;
  border: none;
}

.start-button {
  margin: 10px auto;
  display: block;
  padding: 10px 20px;
  font-size: 16px;
}

.loading-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
