/* loadingPage.css */

.loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent; /* Remove background */
  }
  
  .loading-graphic {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    background-image: url('./loadingDataGif.gif'); /* Replace with your graphic path */
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .loading-text {
    font-size: 1.5rem;
    color: #cbedcd;
  }
  