/* src/components/AboutPage.css */

.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #282c34; 
    padding: 20px;
  }
  
  .back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 0.9rem;
    width: auto;
  }
  
  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.2rem;
  }
  
  .about-image {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
  }
  